.secondary-custom-button {
 margin-top: 1rem;
 font-size: 1.125rem;
 width: 20vw;
 height: 5vh;
 background-color: #4B5563 !important;
 transition: background-color 0.3s, transform 0.3s;
}

.secondary-custom-button:hover {
 background-color: #6B7280 !important;
 transform: scale(1.05); 
}
